:root {
  --bg: '#2e3440'; /* nord0 */
  --bg1: '#3b4252'; /* nord1 */
  --bg2: '#434c5e'; /* nord2 */

  --fg: '#e5e9f0'; /* nord5 */
  --fgd: '#d8dee9'; /* nord4 */
  --fgw: '#eceff4'; /* nord6 */

  --red: '#bf616a'; /* nord11 */
}

body,
div {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  height: 100vh;
}

#root {
  display: flex;
  gap: 1rem;
  height: 50vh;
  margin: auto;
}

.folder {
  padding: 1rem 2rem;
  background-color: var(--bg1);
  overflow-y: auto;
}

.folder-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--fgd);
}

.bookmark {
  color: var(--fg);
  display: list-item;
  text-decoration: none;
}

.bookmark:hover {
  color: var(--fgw);
}

.buttons {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  gap: 0.2rem;
}

.btn {
  cursor: pointer;
  color: var(--fg);
  font-size: 150%;
}

.btn:hover {
  color: var(--fgw);
}
