:root {
  --bg: '#2e3440';
  --bg2: '#3b4252';

  --fg: '#e5e9f0';
  --fg2: '#d8dee9';

  --red: '#bf616a';
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  90% {
    filter: blur(0px);
  }

  100% {
    opacity: 1;
  }
}

body,
div {
  padding: 0;
  margin: 0;
}

html {
  animation: 0.25s linear 0s 1 fadeIn;
  background-color: var(--bg);
  color: var(--fg);
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem;
}

.folder {
  padding: 1rem 2rem;
  background-color: var(--bg2);
  overflow-y: auto;
  position: relative;
}

.folder-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--fg2);
}

.bookmark {
  color: var(--fg);
  display: list-item;
  text-decoration: none;
}

.bookmark:hover {
  color: var(--red);
}

.buttons {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  gap: 0.2rem;
}

.btn {
  cursor: pointer;
  color: var(--fg);
  font-size: 150%;
}

.btn:hover {
  color: var(--red);
}

.btn-remove-folder {
  color: var(--red);
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  position: absolute;
  right: 0.4rem;
  top: 0.2rem;
}

.btn-remove-bookmark {
  color: var(--red);
  cursor: pointer;
  display: inline-block;
  font-size: 0.5rem;
}

.btn-remove-folder:hover,
.btn-remove-bookmark:hover {
  filter: brightness(1.25);
}

.folder-remove {
  filter: brightness(1.25);
}

.bookmark-remove:hover {
  text-decoration: line-through;
  filter: brightness(1.1);
}

.bookmark-remove::marker {
  content: 'x';
  color: var(--red);
}
